<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../common/css/style.css"/>
        <!--<script type="text/javascript" src="http://gv6.gokuai.com/Common/js/util.js"></script>-->
          <script type="text/javascript" src="../common/js/util.js"></script>
        <script type="text/javascript" src="../common/js/jquery.js"></script>
        <script type="text/javascript" src="../common/js/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="../common/js/config.js"></script>
        <!--<script type="text/javascript" src="http://gv6.gokuai.com/Common/js/interface.js"></script>-->
         <script type="text/javascript" src="../common/js/interface.js"></script>
        <script type="text/javascript" src="../common/js/launchpad.js"></script>
        <script type="text/javascript">
            $(function(){
                gkClientLaunchPad.init();
            })
        </script>
    </head>

    <body id="lanchpad_page">
        <div class="wrapper">
            <div class="header">
                <div class="blue_cowboy_border"><div></div></div>
            </div>
            <div class="content">
                <ul class="menus">
                    <li class="menu_item" data-url="">
                        <div class="menu_icon">
                            <img src="../common/images/file64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">打开文件</div>
                    </li>
                    <li class="menu_item" data-url="/storage/client?ac=updates">
                        <div class="menu_icon">
                            <img src="../common/images/update64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">更新</div>
                    </li>
                    <li class="menu_item" data-url="/storage/client?ac=shares">
                        <div class="menu_icon">
                            <img src="../common/images/share64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">我的共享</div>
                    </li>
                    <li class="menu_item" data-url="/storage/client?ac=favorites">
                        <div class="menu_icon">
                            <img src="../common/images/favorites64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">收藏夹</div>
                    </li>
                    <li class="menu_item" data-url="/storage/client?ac=contacts">
                        <div class="menu_icon">
                            <img src="../common/images/contact64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">联系人</div>
                    </li>
                    <li class="menu_item" data-url="/app?ac=apps">
                        <div class="menu_icon">
                            <img src="../common/images/app64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">应用</div>
                    </li>

                    <li class="menu_item" data-url="/storage/client?ac=recyclebin">
                        <div class="menu_icon">
                            <img src="../common/images/recyclebin64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">回收站</div>
                    </li>
                </ul>
            </div>
        </div>
        <script id="lanchpadHeader" type="text/x-jquery-tmpl">
            <div class="header_left">
                {{if typeof(org)!=='undefined'}}
                <div class="org">
                    <img class="logo" src="${org.logo}" alt="" />
                    <span class="name">${org.name}</span>
                </div>
                {{else}}
                <div class="gokuai">
                    <img class="logo" src="${gkLogo}" alt="" />
                </div>
                {{/if}}

            </div>
            <div class="header_right">

                <div class="member">
                    <img class="photo_radus photo" src="${member.photo}" alt="" />
                    <div class="attrs">
                        <div class="name">${member.name}</div>
                        <div class="size">${Util.Number.bitSize(member.size)}</div>
                    </div>
                </div>

            </div>
        </script>
        <script id="messageBanner" type="text/x-jquery-tmpl">
            <div class="message_banner">
                <div class="message_banner_left">
                    <i class="type_icon"></i>
                    <span class="member_name">${member_name}</span>
                    <span class="message_content">${text}</span>
                    <span class="timeago">${timeago}</span>
                </div>
                <div class="message_banner_right">
                    <i class="message_icon"></i>
                    <span>
                        {{if count>99}}
                        99+
                        {{else}}
                        ${count}
                        {{/if}}
                    </span>
                </div>    
            </div>
        </script>
    </body>
</html>