<!DOCTYPE html>
<html>
    <head>
        <title>开始够快</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../common/css/style.css"/>
        <!--        <script type="text/javascript" src="http://gv6.gokuai.com/Common/js/util.js"></script>-->
        <script type="text/javascript" src="../common/js/util.js"></script>
        <script type="text/javascript" src="../common/js/jquery.js"></script>
        <script type="text/javascript" src="../common/js/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="../common/js/config.js"></script>
        <!--       <script type="text/javascript" src="http://gv6.gokuai.com/Common/js/interface.js"></script>-->
        <script type="text/javascript" src="../common/js/interface.js"></script>
        <script type="text/javascript" src="../common/js/launchpad.js"></script>
        <script type="text/javascript">
             $(function(){
                  gkClientLaunchPad.init_2013();
             })
            </script>
    </head>

    <body id="lanchpad_page">
        <div class="wrapper">
            <!--div class="header">

            </div-->
            <div class="content">
                <div class="launth_pad clearfix">
                    <div class="launth_pad_left f_l">
                        <ul>
                            <li data-url="http://127.0.0.1:8888/client/client?ac=updates"><a href="javascript:void(0)" data-url="http://www.baidu.com" title="更新"><i class="share"></i>更新</a></li>
                             <li data-url="http://127.0.0.1:8888/client/client?ac=favorites"><a href="javascript:void(0)" title="收藏夹" data-url="http://www.google.com"><i class="favorite"></i>收藏夹</a></li>
                              <li data-url="http://127.0.0.1:8888/client/client?ac=contacts"><a href="javascript:void(0)" title="联系人" data-url="http://www.qq.com"><i class="linkman"></i>联系人</a></li>
                               <li data-url="http://127.0.0.1:8888/client/client?ac=recyclebin"><a href="javascript:void(0)" title="回收站" data-url="http://www.renren.com"><i class="recyclebin"></i>回收站</a></li>
                        </ul>
                    </div>
                    <div class="launth_pad_right">
                        <iframe frameborder="0"  src="http://127.0.0.1:8888/client/client?ac=updates" width="100%" height="100%"></iframe>
                    </div>
                </div>
                <!--ul class="menus">
                    <li class="menu_item" data-url="/client/client?ac=updates">
                        <div class="menu_icon">
                            <img src="../common/images/update64x64.png" alt="" />
                            <span class="news_num coner_news"></span>
                        </div>
                        <div class="menu_name">更新</div>
                    </li>
                    <li class="menu_item" data-url="">
                        <div class="menu_icon">
                            <img src="../common/images/file64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">我的文件</div>
                    </li>
                    <!-- 隐藏我的共享 <li class="menu_item" data-url="/client/client?ac=shares">
                        <div class="menu_icon">
                            <img src="../common/images/share64x64.png" alt="" />
                        </div>
                        <div class="menu_name">我的共享</div>
                    </li> -->
                    <!--li class="menu_item" data-url="/client/client?ac=contacts">
                        <div class="menu_icon">
                            <img src="../common/images/contact64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">联系人</div>
                    </li>
                    <li class="menu_item" data-url="/client/client?ac=favorites">
                        <div class="menu_icon">
                            <img src="../common/images/favorites64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">收藏夹</div>
                    </li>
                    <li class="menu_item" data-url="/client/app?ac=apps">
                        <div class="menu_icon">
                            <img src="../common/images/app64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">应用</div>
                    </li>
                    <li class="menu_item" data-url="/client/notice">
                        <div class="menu_icon">
                            <img src="../common/images/msg64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">新消息</div>
                    </li>
                    <!-- 隐藏资料库 2013-2-19                    <li class="menu_item" data-url="/client/library">
                                            <div class="menu_icon">
                                                <img src="../common/images/library64x64.png" alt="" /> 
                                            </div>
                                            <div class="menu_name">资料库</div>
                                        </li> -->

                    <!--li class="menu_item" data-url="/client/client?ac=recyclebin">
                        <div class="menu_icon">
                            <img src="../common/images/recyclebin64x64.png" alt="" /> 
                        </div>
                        <div class="menu_name">回收站</div>
                    </li>
                </ul-->
            <!--/div>
                </div-->
        <!--script id="lanchpadHeader" type="text/x-jquery-tmpl">
            <div class="header_left">
                {{if typeof(org)!=='undefined'}}
                <div class="org">
                    <img class="logo" src="${org.logo}" alt="" />
                    <span class="name">${org.name}</span>
                </div>
                {{else}}
                <div class="gokuai">
                    <img class="logo" src="${gkLogo}" alt="" />
                    <span class="name">我的够快</span>
                </div>
                {{/if}}
            </div>
            <div class="header_right">
                <div class="member">
                    <img class="photo_radus photo" src="${member.photo}" alt="" />
                    <div class="attrs">
                        <div class="name">${member.name}</div>
                        <div class="size">已使用${Util.Number.bitSize(member.size)}</div>
                    </div>
                </div>
            </div>
        </script>
        <!-- <script id="messageBanner" type="text/x-jquery-tmpl">
            <div class="message_banner">
                <div class="message_banner_left">
                    <i class="type_icon"></i>
                    <span class="member_name">${member_name}</span>
                    <span class="message_content">${text}</span>
                    <span class="timeago">${timeago}</span>
                </div>
                <div class="message_banner_right">
                    <i class="message_icon"></i>
                    <span class="message_num coner_news {{if count==0}}no_message{{/if}}">
                        {{if count>99}}
                        99+
                        {{else}}
                        ${count}
                        {{/if}}
                    </span>
                </div>    
            </div>
        </script> -->
    </body>
</html>