<?xml version="1.0" encoding="UTF-8"?>
<root>
	<item>
		<title>共享</title>
		<icon>shellshare.bmp</icon>
		<status>3</status>
		<action>gMain</action>
		<url>/client/client_file_detail?tab=share</url>
		<sso>1</sso>
		<resize>1</resize>
		<width>800</width>
		<height>600</height>
	</item>
	<item>
		<title>查看历史</title>
		<icon>shellhistory.bmp</icon>
		<status>1</status>
		<action>gMain</action>
		<url>/client/client_file_detail?tab=history</url>
		<sso>1</sso>
		<resize>1</resize>
		<width>800</width>
		<height>600</height>
	</item>
	<item>
		<title>讨论</title>
		<icon>shellremind.bmp</icon>
		<status>3</status>
		<action>gMain</action>
		<url>/client/client_file_detail?tab=remark</url>
		<sso>1</sso>
		<resize>1</resize>
		<width>800</width>
		<height>600</height>
	</item>
	<item>
		<title>锁定/解锁</title>
		<icon>shelllock.bmp</icon>
		<status>1</status>
		<action>gLock</action>
		<url></url>
		<sso></sso>
		<resize></resize>
		<width></width>
		<height></height>
	</item>
	<item>
		<title>收藏</title>
		<icon>shellfavorite.bmp</icon>
		<status>3</status>
		<action>gFavorite</action>
		<url></url>
		<sso></sso>
		<resize></resize>
		<width></width>
		<height></height>
	</item>
	
</root>
